# ROS
build/
install/
log/

# ML models
*.pth
*.pt
*.ckpt

# external repos
CenterNet2/
pytorch-material-classification/
chainer-centernet/

# cache
__pycache__/
*.pyc

# data
*.csv
*.ods
*.png

# misc
.DS_Store

Detic/
CenterNet2/
pytorch-material-classification/
control_dynamixel/
sound_wave/

build/
install/
log/